footer {
    height: 30vh;
    width: auto;
    background-color: var(--textColor);
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    color: var(--color-primario);
    font-size: 1em;
}

.containerText {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}

.container-secciones {
    padding-top: 20px;
    display: inline-flex;
    cursor: pointer;
}

.container-title-secciones {
    font-size: 1em;
    margin: 10px;
    text-decoration: none;
    color: var(--color-primario);
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.icon {
    margin-top: 15px;
    color: white;
}

.msj {
    display: none;
    opacity: 0;
    width: 150px;
    height: 40px;
    position: fixed;
    display: flex;
    background-color: white;
    border-radius: 20px 0px 20px 20px;
    right: 0;
    bottom: 1em;
    padding: 1.5em;
    padding-top: 0px;
    margin-right: 7em;
    font-size: 1em;
    border: 1px solid black;
    transition: opacity 0.8s;
    z-index: 100;
}

.whatsapp:hover {
    cursor: pointer;
}

.whatsapp:hover+.msj {
    display: flex;
    opacity: 1;
}


.redes-sociales-icon {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.redes-sociales-icon {
    cursor: pointer;
}

.instagram {
    color: violet;
    margin-right: 20px;
}

.facebook {
    color: blue;
}

@media only screen and (max-width: 767px) {

    .msj {
        height: 15px;
        width: auto;
    }

    .whatsapp {
        position: fixed;
        right: 1em;
        bottom: 1em;

    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .containerText {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .msj {
        font-size: 1rem;
        height: 10px;
    }

    .whatsapp {
        font-size: 0.8rem;
    }

    .whatsapp .icon {
        font-size: 1.8rem;
    }
}